.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: rgba(30, 86, 108, 0.95);
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top,rgba(30, 86, 108, 0.95) 0%, rgb(4, 53, 74) 31%, rgb(4, 43, 60) 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.info-service{
    font-size: 17px;
    font-weight: 600;

}