.App {
  text-align: center;
}
body{
  
    background-image: linear-gradient(to right, #ffffffc0 0%, #ffffffcf 100%), url(./assets/img/fondo3.jpg);
    background-position: center;
    background-size: cover; /* Cambie el tamaño de la imagen de fondo para cubrir todo el contenedor */
}

